{%extends "base.html"%}

{% block head%} <style>
  /* add some basic styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a9dc7;
    color: #fff;
    padding: 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav {
    display: flex;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>{%endblock%}

{%block title%}About DUT's Safety and Maintenance {%endblock%}

{%block content%}

{%include "navbar.html"%}

<div class="container">
  <div class="mt-5">
    <p align="center">The Durban University of Technology's Safety and Maintenace web application aims to ensure a safe
      and functional learning/working environment for students, staff and faculty memebers. This application helps to
      keep
      track of all the areas that are in need of maintenance and it is accessable to evry student, staff and faculty
      members. ycjhbacgach ajvcuygfhwbv uygeuyvejhvbyegfuiwhjefvuGOAAHGYUAHJA Bayubjhegvuyebdjvuysegvuabvhjabkvgyuvh
      jbvhgreyvjhabvajkyu vegruberufgh7ryt743 8tiuehfiuerg7 834tgieriueqg7gbf efvefhuqevoyuw fbqeufqbqyef eqv oyqbvreq
      fyi.hwiuhuivkjafheiufvebvhevywhj buyefvje vhwbe hbevebvbiv fvbwibvj vbv vuoa lbvea ebef ebyugabduvoa fe
      bablbajvbiuahfiuefjk jebveka. ygfhlwbavouygqefogacuwh hbuseygfuya ygqeubcqukdgcuq yqgfuyqbchbu.</p>
  </div>
</div>
<h2 align="center">Thank You</h2>
{%endblock%}