{%extends "base.html"%}

{%block title%}About DUT's Safety and Maintenance {%endblock%}

{%block content%}

{%include "navbar.html"%}

<div class="container">
  <div class="mt-5">
    <p align="center">The Durban University of Technology's Safety and Maintenance web application aims to ensure a safe
      and functional learning/working environment for students, staff and faculty members. This application helps to
      keep track of all the areas that are in need of maintenance and it is accessible to every student, staff and
      faculty members. This application will improve productivity, efficiency and transparency. Matters will be attended
      to quicker depending on the priority type and any user can keep track of any issue that is under maintenance.
      Everything will be kept on record such as people who reported, when and where.



     </p>
  </div>
</div>
<h2 align="center">YOUR SAFETY IS OUR PRIORITY</h2>
{%endblock%}