
{%extends "base.html"%}
{% block head%}<style>
  /* add some basic styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a9dc7;
    color: #fff;
    padding: 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav {
    display: flex;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  
</style> {%endblock%} 
{%block title%} Home {%endblock%}
{%block content%}
<body>
  {%include "navbar.html"%}
  <h1>Welcome to DUT's Safety and Maintenance Home Screen</h1>

  <div class="dashboard">
    {%include "/noticeboard/noticeboard.html"%}
  </div>
</body>
{%endblock%}