<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    
    <title>Dropdown Example</title>
    <title>Textbox Example</title>

</head>
<body style="background-color: #e6e6e6;"></bodystyle>
    <div class=" container-md position-absolute top-50 start-50 translate-middle col-xl-5">
        <div style="text-align: center;" class=" vertical-center-row mx-auto py-auto px-auto card shadow-lg p-3  bg-body rounded  ">
            <div class="row text-center  ">
    <div class="heading-container">
        <h1>Enter user details</h1>
      </div>
    <br>
    <br>
    <form method="POST" action="{{ url_for('add_user') }}"></form>
    <div class="container"> 
        <label for="name" style="font-size: 20px;" class="label">Name:</label>
    <br>
        <input type="text" id="name" style="width: 500px;height: 30px;font-size: 14px;border: 1px solid #ccc;" class="textbox" placeholder="">
    </div>
    <br>
    <div class="container"> 
        <label for="surname" style="font-size: 20px;" class="label">Surname:</label>
    <br>
        <input type="text" id="surname" style="width: 500px;height: 30px;font-size: 14px;border: 1px solid #ccc;" class="textbox" placeholder="">
    </div>
    <br>
    <div class="container"> 
        <label for="email" style="font-size: 20px;" class="label">Email:</label>
    <br>
        <input type="text" id="email" style="width: 500px;height: 30px;font-size: 14px;border: 1px solid #ccc;" class="textbox" placeholder="">
    </div>
    <br>
    <div class="container"> 
            <label for="password" style="font-size: 20px;" class="label">Password:</label>
        <br>
            <input type="text" id="password" style="width: 500px;height: 30px;font-size: 14px;border: 1px solid #ccc;" class="textbox" placeholder="">
        </div>
        <br>
        <div class="container"> 
            <label for="username" style="font-size: 20px;" class="label">Username:</label>
        <br>
            <input type="text" id="username" style="width: 500px;height: 30px;font-size: 14px;border: 1px solid #ccc;" class="textbox" placeholder="">
        </div>
        <br>
    <label for="user role" style="font-size: 20px;">User role:</label>
    <br>
	<select id="user role" name="user role" style="width: 300px;height: 30px;">
        <option value="student"style="font-size: 20px;">Choose user role</option>
		<option value="student"style="font-size: 20px;">User</option>
		<option value="zone foreman"style="font-size: 20px;">Zone foreman</option>
		<option value="maintenance officer"style="font-size: 20px;">Admin</option>
	</select>
    <br>
    <br>
    <button class="my-button" id="button1" style="width: 100px;height: 30px;font-size: 20px;" onclick="alert('Hello world!')">Add user</button>
</form>


    
    
    

    
</body>
</html>
