<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {{is_active1}}" aria-current="page" href="/">Home</a>
                <a class="nav-link {{is_active2}}" href="/admin/add_user">Add users</a>
                <a class="nav-link {{is_active4}}" href="/admin/notice">Add Notice</a>
                <a class="nav-link {{is_active5}}" href="/admin/notices">Notices</a>
                <a class="nav-link {{is_active3}}" href="/admin/users">Users</a>
                
                
            </div>
            
        </div>
        <span class="d-flex"><a class="nav-link " href="/logout"><button class="btn btn-primary">Log Out</button></a></span>
    </div>
</nav>