<div class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-start gap-3">
        <button class="navbar-toggler" style="border : none;" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <div class="d-flex inline align-items-center">
                <span class="material-symbols-outlined">filter_list</span>
                &nbsp;
                <span class="fw-normal">filter</span>
            </div>
        </button>
        <div class="offcanvas offcanvas-end" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">filter by</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle border-0 rounded-0" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Campus
                        </button>
                        <ul class="dropdown-menu p-3 rounded-0">
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="campus"
                                        value="Steve Biko" {% if 'Steve%20Biko' in args['campus']
                                        %}checked{% endif %}>
                                    <span class="form-check-label">Steve Biko</span>
                                </label>
                            </li>
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="campus" value="Ritson" {% if 'Ritson' in args['campus']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">Ritson</span>
                                </label>
                            </li>
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="campus" value="ML Sultan" {% if 'ML%20Sultan' in args['campus']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">ML Sultan</span>
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle border-0 rounded-0" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Block
                        </button>
                        <ul class="dropdown-menu p-3 rounded-0">
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="block" value="A Block" {% if 'A%20Block' in args['block']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">A Block</span>
                                </label>
                            </li>
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="block" value="B Block" {% if 'B%20Block' in args['block']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">B Block</span>
                                </label>
                            </li>
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="block" value="C Block" {% if 'C%20Block' in args['block']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">C Block</span>
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle border-0 rounded-0" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Priority Level
                        </button>
                        <ul class="dropdown-menu p-3 rounded-0">
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="priority" value="low" {% if 'low' in args['priority']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">Low</span>
                                </label>
                            </li>
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="priority" value="mid" {% if 'mid' in args['priority']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">Mid</span>
                                </label>
                            </li>
                            <li>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="priority" value="high" {% if 'high' in args['priority']
                                    %}checked{% endif %}>
                                    <span class="form-check-label">High</span>
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex inline align-items-center">
            <button class="btn" disabled
                style="height: 34px; padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);color : black; border : none;"
                type="button">
                <span class="material-symbols-outlined">search</span>
            </button>
            <input class="form-control" type="text" id="search_text" style="border: none;" {% if args['keyword']
                %}value="{{ args['keyword'] }}" {% endif %} name="search_text" placeholder="search by ref #"
                aria-label="Search">
        </div>
    </div>
</div>