{% extends "base.html" %}
{% block title %}Forgot Password {% endblock %}

{% block content %}

<div class=" container-md position-absolute top-50 start-50 translate-middle col-lg-5">
    <div style="text-align: center;" class=" vertical-center-row mx-auto py-auto px-auto card shadow-lg p-3  bg-body rounded  ">
        <div class="row text-center  ">

            <div class="fs-1 fw-semibold">Forgot your password?</div>
            <div class="text-center text-wrap">Please fill in the email that you used to
                register. You will be sent an email with
                instructions on how to reset your password.</div>
            <br>
            <br>
            <br>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 mt-2 fw-semibold">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">

                    <button type="submit" class=" mt-5 btn btn-primary">Send Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}