<!DOCTYPE html>
<html><body>

<div style="text-align: center;">

<h1>Forgot your password?</h1>
<br>
<br>
<br>
<h2>Please fill in the email that you used to
    register. You will be sent an email with
    instructions on how to reset your password.</h2>
<br>
<br>
<br>
 <div><label for="name">Email Address:</label></div> 
<input type="text" id="name" name="name" style="width: 200px; height: 25px; background-color: rgb(228, 224, 224)">
<br>
<br>
<div><button style="width: 100px; height: 40px;">Send email</button>
</div>  
<br>
<br> 

<p>Remember your password? <div> <a href="login.html">Sign in</a></div></p>
    
    
    
</div>
</body></html>