{% if pages.items %}
{% for issue in pages.items %}
<div class="row border-bottom" style="cursor:pointer">
    <div class="card" style="--bs-card-border-radius:none;--bs-card-border-color:none;">
        <a class="text-black text-decoration-none" href="/view?id={{issue['id']}}">
            <div class="card-body">
                <h6 class="card-title">{{issue["referenceNo"]}}</h6>
                <p class="card-text">{{issue["campus"]}} | {{issue["campusBlock"]}} |
                    {% if issue["priorityOfIssue"]==0 %}{{'Low'}}{% elif issue["priorityOfIssue"]==1 %}{{'Mid'}}{% elif issue["priorityOfIssue"]==2 %}{{'High'}}{% endif %}
                </p>
            </div>
        </a>
    </div>
</div>
{% endfor %}
<div class="container">{% include 'pagination.html'%}</div>
{% else %}
<div class="d-flex justify-content-center">
    <h3 class="fw-light">no items</h3>
</div>
{% endif %}