{% extends "base.html" %}

{% block head %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#search_text').keyup(function () {
            var search = $(this).val();
            $.ajax({
                url: "/issues_table",
                method: "POST",
                data: { text : search },
                success: function (res) {
                    $('#search_text').html(res.search_content)
                    $('#issue-items').html(res.items)
                    if(res.redirect){
                        window.history.pushState({},"", res.redirect);
                    }
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container">{% include 'filters_bar.html' %}</div>
    <div class="container">
        <div class="container" id="issue-items">{% include 'issue_card.html'%}</div>
    </div>
</div>
{% endblock %}