{% extends "base.html" %}
{% block title %}Login {% endblock %}

{% block content %}

<div class=" container-md position-absolute top-50 start-50 translate-middle col-lg-5">
  <div class=" vertical-center-row mx-auto py-auto px-auto card shadow-lg p-3  bg-body rounded  ">
    <div class="row justify-content-center align-items-center g-1">
      <div class="col-sm  "> <img src="https://www.dut.ac.za/DUT-Logo_new.png" class="img-fluid align"></div>
      <div class="col">
        <div class="fs-2 fw-bold text-center ">DUT Safety and Maintenance </div>
      </div>

    </div>

    <div class="row">

      <div class="fs-5 fw-normarl text-center mt-3">Sign in using your login credentials </div>

      <form class="mt-2">
        <div class="form-group">
          <label for="exampleInputEmail1" class="mb-2 mt-2 fw-semibold">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">

          <div class="mb-1 mt-3 fw-semibold">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
          </div>
          <div class="mx-10 mt-2 mb-2"><a href="/forgot_password">Forgot Password?</a></div>
          <div id="submit_div" style="text-align:center" class="mt-1">
            <button type="submit" class=" mt-2 btn btn-primary ">Login</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}