

{%extends "base.html"%}
{%block head%}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> {%endblock%}
{% block title %}Add user{% endblock %}
{%block content%}




<script >
  $(document).ready(function() {
    $('#sign_up_form').on('submit',function() {
      var password = $('#password').val();
      var confirm_password = $(this).val();

      if (password!=confirm_password){
        event.preventDefault();
        $('#confirm-password').addClass("is-invalid");
        $('#password').addClass("is-invalid");
        
        
      }
     else{
      $(this).removeClass("is-invalid");
        $('#password').removeClass("is-invalid");
        this.submit();
     }

    });
  });
</script>


<div class="container-md position-absolute top-50 start-50 translate-middle px-5 py-5 shadow-lg p-3  bg-body rounded col-lg-5 ">
  {% with messages = get_flashed_messages(category_filter=["not_match_password"]) %}
      {% if messages %}
        
        {% for message in messages %}
        
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
  <h1 class="text-center">Sign Up</h1>

<p style="text-align:center;">Please fill out the form below to create your account.</p>

    <form method="POST" id="sign_up_form">
      <!-- form elements go here -->
      <div class="form-group">
        <label for="username">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
      </div>

      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control" id="surname" name="surname" required>
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control " id="password" name="password" required>
      </div>
      
      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" class="form-control mt-3 " id="confirm-password" name="confirm-password" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Make sure that your passwords match.
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary mt-4 "id="submitButton">Sign Up</button>

      

    </form>
  </div>
      
  {% endblock %}


</body>
</html>
